.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.light{
    background-color: var(--lightbackground-color);
    color:var(--text-color)
}
.dark{
    background-color: var(--darkbackground-color);
    color:var(--text-color)
}
.header{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
