.showContainer{
    width: 100%;
    height: 100%;
    margin-top: 70px;
    padding: 30px;
}
.cardContainers{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    margin-top: 20px;
}

@media screen and (max-width:420px){
    .cardContainers{
        grid-template-columns: repeat(2,1fr);
    }
}