.navbar{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    height: 100%;
    background-color: #e7dddd !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 5px brown;
    border: none;
    outline: none;
    border-radius: 5px;
}
.navbarHeaderText{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.navbarList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarListItem{
    list-style: none;
    margin: 0 10px;
}
.active{
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    border-radius: 20px;
}
.navbarAvator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle{
    margin-left: 20px;
}