*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --darkbackground-color:#000000;
    --text-color:red;
    --lightbackground-color:#ffffff;
}